<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Strona główna</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<!--Navigation-->

<hr class="my-4">

<!--Nagłówek - teamty-->
<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="disably-4">Tematy projektów</h1>
        </div>
        <div class="col-12">
            <p class="lead">
                Poniżej zanajdują się tematy projektów wraz z ich opisami, które można zrealizować w ramach projektu z przedmiotu Technologie WEB i Java.
            </p>
        </div>
    </div>
</div>
<hr class="my-4">

<!--Tabela tematów-->
<div class="container-fluid">
    <table class="table table-hover">
        <thead class="thead-dark text-center">
        <tr>
            <th scope="col-1">#</th>
            <th scope="col-4">Temat projektu</th>
            <th scope="col-4">Opis</th>
            <th scope="col-3">Czy zarezerwowany</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Lucynka</td>
            <td>Pałkuska</td>
            <td>idk_men</td>
        </tr>
        </tbody>
    </table>
</div>
<hr class="my-4">

<!--Background image-->
<figure>
    <div class="fixed-wrap">
        <div id="fixed" style="background-image: url('../img/fixed-background-4.jpg');">
            <!--            <img src="/img/fixed-background.jpg">-->
        </div>
    </div>
</figure>
<hr class="my-4">

<!--Nagłówek - autorzy-->
<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4">
                O nas
            </h1>
        </div>
        <hr class="my-4">
    </div>
</div>

<!--Autorzy-->
<div class="container-fluid padding">
    <div class="row text-center padding">
        <div class="col-xs-12 col-sm-6">
            <img src="/img/EwaC.jpg" class="img-fluid img-autor">
            <h3>Łucja Pałkus</h3>
            <p>Studentka, szaleje za Dr. PROkopem</p>
        </div>
        <div class="col-xs-12 col-sm-6">
            <img src="/img/Adam.jpg" class="img-fluid img-autor">
            <h3>Adam Szałański</h3>
            <p>Student. Też szaleje za Dr. PROkopem</p>
        </div>
    </div>
    <hr class="my-4">
</div>

<!--Background image-->
<figure>
    <div class="fixed-wrap">
        <div id="fixed" style="background-image: url('../img/fixed-background-2.jpg');">
            <!--            <img src="/img/fixed-background.jpg">-->
        </div>
    </div>
</figure>
<hr class="my-4">

<!--Nagłówek - prowadzący-->
<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4">
                Prowadzący
            </h1>
        </div>
        <hr class="my-4">
    </div>
</div>
<!--Karta Prowadzącego-->
<div class="container-fluid padding">
    <div class="row padding karta">
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top center" src="/img/prowadzacy.jpg" alt="Fot. Marian Misiakiewicz">
                <figcaption class="figure-caption" style="font-size: 10px;" >Fot. Marian Misiakiewicz</figcaption>
                <div class="card-body inkarta">
                    <h4 class="card-title">
                        dr hab. inż. prof. PRz Jan Prokop
                    </h4>
                    <p class="card-text text-justify">
                        Nauczyciel akademicki zatrudniony jako pracownik badawczo-dydaktyczny na stanowisku profesora uczelni na Wydziale Elektrotechniki i Informatyki Politechniki Rzeszowskiej.
                    </p>
                    <a href="http://jprokop.prz.edu.pl/#/" class="btn btn-primary">Wyświetl stronę</a>
                </div>
            </div>
        </div>
    </div>
</div>
<hr class="my-4">

<!--Background image-->
<figure>
    <div class="fixed-wrap">
        <div id="fixed" style="background-image: url('../img/fixed-background-3.jpg'); filter: blur(2px);">
            <!--            <img src="/img/fixed-background.jpg">-->
        </div>
    </div>
</figure>

<!--Footer-->

</body>
</html>